


html { 
  background-color: gainsboro;
  /*background: url('../img/crystalcavesmall.png') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
	background: none;
  padding-top: 60px;
  padding-bottom:300px;
}
#main {
  margin:0px auto;
  max-width:800px;
}

h1 {
	
	padding-top:70px;
}

#audio{
	min-height: 350px;
}

.section{
	padding-top:20px;
	padding-left:20px;
	padding-bottom:20px;
}

.interest{
	background-color: #bbb;
	font-size:110%;
}
